@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  $breakpoint-xs: 320px;
  $breakpoint-sm: 576px;
  $breakpoint-md: 768px;
  $breakpoint-lg: 1024px;
  $breakpoint-xl: 1200px;
  
  @mixin media-query($breakpoint) {
    @if $breakpoint == xs {
      @media (max-width: #{$breakpoint-xs}) { @content; }
    }
    @else if $breakpoint == sm {
      @media (max-width: #{$breakpoint-sm}) { @content; }
    }
    @else if $breakpoint == md {
      @media (max-width: #{$breakpoint-md}) { @content; }
    }
    @else if $breakpoint == lg {
      @media (max-width: #{$breakpoint-lg}) { @content; }
    }
    @else if $breakpoint == xl {
      @media (max-width: #{$breakpoint-xl}) { @content; }
    }
  }
  
  @mixin border-radius($radius: $border-radius) {
    border-radius: $radius;
  }
  